{% extends 'base.html' %}
{% load static %}

{% block content %}
        <p>
                {{ b_day }}
        </p>
        <div>
                <ul>
                        {% for company in company_list %}
                                <li>{{company}} <a href="{% url 'company-edit-view' company.pk %}"> Edit </a> </li>
                        {% endfor %}
                </ul>
        </div>

        <p>
                <a class="btn btn-info" href="{% url 'company-create-view' %}">Nueva compañía</a>
        </p>

        <div class="container">
                <div class="row">
                {% for beer in lista_cervezas %}
                        <div class="col-sm-8 col-md-6 col-lg-4 mb-4">
                                <div class="card" style="width: 18rem;">
                                        <img class="card-img-top view overlay zoom" src="{{ beer.image.url }}" alt="Card image cap" width="286px" height="300px">
                                        <div class="card-body" height="200">
                                                <h5 class="card-title">{{beer}}</h5>
                                                <p class="card-text">{{ beer.descripcion }}</p>
                                                <a href=" {% url 'beer-detail-view' beer.pk %}" class="btn btn-primary">Mas información</a>
                                        </div>
                                </div>
                        </div>
                        {% empty %}
                                {% include '404.html' %}
                {% endfor %}
                </div>
        </div>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis auctor turpis. Donec rhoncus vel urna vitae porttitor. Integer vitae rutrum lorem. Aliquam aliquam justo id laoreet commodo. Fusce ut lorem in erat volutpat ultrices. Curabitur molestie magna purus, quis bibendum nunc accumsan ac. Vivamus lacinia eros et diam posuere imperdiet. In tincidunt erat et pretium pretium. Ut tristique enim vel erat ultricies, sit amet malesuada erat tristique. Sed condimentum nunc urna, scelerisque blandit metus consectetur at. Nullam elit nibh, rhoncus id rutrum vitae, laoreet congue nunc. Aliquam ultricies suscipit rhoncus. Aenean eleifend imperdiet ipsum, eget pharetra leo interdum ut. Nullam fermentum, leo quis tincidunt maximus, metus justo lacinia augue, ac laoreet leo felis a est. Pellentesque nisi odio, sagittis non venenatis ut, tristique et ante.

Nulla facilisi. Donec nec iaculis ligula. Nullam convallis felis eu pulvinar luctus. Curabitur iaculis tellus et pharetra ultricies. Aenean eu pretium est, at ornare tortor. Sed porta, nisi ut sagittis viverra, tellus dolor condimentum risus, in lacinia augue tortor ut metus. Duis non erat eu velit faucibus interdum. Mauris nec turpis porttitor, accumsan lorem finibus, ultrices felis.

Sed ut ante vitae augue aliquam imperdiet vel eu lectus. Sed rhoncus orci eu ultrices molestie. Phasellus gravida vestibulum eros, quis interdum dui finibus eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas quis nulla nisi. Vestibulum pulvinar tortor diam, a ullamcorper turpis luctus aliquam. Quisque eu mi dolor. Cras suscipit tristique dignissim. Nunc sit amet mi ac enim porta blandit laoreet in enim.

Ut in metus convallis, aliquam ante luctus, pharetra nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur ac finibus ante, a varius ligula. In convallis, magna a finibus luctus, ligula massa consequat purus, sit amet ultricies nisi purus volutpat eros. Ut vitae tempor dui, quis porta metus. Vestibulum ut rhoncus magna. Morbi ac congue nunc, eget tincidunt enim. Mauris consequat volutpat est, vitae facilisis sem condimentum id. Mauris tristique laoreet ante nec laoreet. Praesent pharetra vitae enim et imperdiet.

Curabitur eu lacus vel sapien varius lobortis at vel lectus. Sed vestibulum enim mauris, in rhoncus nulla efficitur nec. Morbi tincidunt iaculis ligula vitae condimentum. Suspendisse potenti. Mauris auctor odio vitae placerat viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec condimentum quam ante, a condimentum libero venenatis eu.

Aliquam erat volutpat. Aenean feugiat sollicitudin mi vitae placerat. Aliquam eu lorem viverra, porta libero ac, placerat leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus non risus ac est elementum lacinia vitae id ante. Etiam ac molestie orci, lacinia gravida sapien. Nam enim odio, finibus id cursus ac, sollicitudin ut velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum et tempor tortor. Integer ut ipsum consectetur, lacinia metus id, egestas ex. Cras ante enim, cursus a convallis sit amet, posuere non magna. Maecenas id nulla quis turpis auctor imperdiet. Fusce ultricies augue ac varius iaculis. Sed sollicitudin tincidunt tincidunt. Integer volutpat lectus et blandit fermentum. Duis eget lobortis nulla.

Fusce aliquam a diam sed malesuada. Nam sodales vestibulum mattis. Proin faucibus aliquam faucibus. Morbi tempor neque in diam sodales, eu egestas diam congue. Aenean quis tincidunt elit. Curabitur ac hendrerit ipsum. Fusce volutpat mi non mollis ultrices. Mauris rhoncus lectus quis mattis porttitor. Morbi molestie porttitor dapibus. Mauris sed tincidunt libero, eu volutpat erat. Curabitur non ipsum vel sem placerat sagittis a eget ante.

Suspendisse fringilla eros vel ipsum condimentum, quis cursus quam vestibulum. Phasellus vitae cursus justo, in pretium tellus. Sed efficitur ligula vel porta porta. Duis sit amet imperdiet tellus, ac consectetur lacus. Mauris faucibus eu sem nec ultricies. Quisque euismod diam non tempus commodo. In quis congue ligula. Nam mi nisi, malesuada in rutrum eget, accumsan eu nulla. Fusce hendrerit orci quis quam ultricies blandit in eget sem. Mauris ultrices nunc eget ligula viverra, in faucibus mi consectetur. Vestibulum eleifend lorem eget sollicitudin cursus. In ut viverra quam. Nullam lobortis molestie velit ac convallis. Curabitur posuere, dui quis rutrum semper, urna lacus porta mi, sit amet varius ante massa nec dui. Curabitur in odio faucibus, iaculis justo congue, mattis diam. Aenean sed dignissim nibh.

Nulla blandit turpis quis leo rhoncus tincidunt. Fusce vulputate dui elit, at vehicula purus lacinia sit amet. Morbi et lacus nunc. Maecenas tempor vehicula sem in cursus. In egestas mauris non felis vulputate convallis. Duis tempus ut dui vitae sodales. Etiam convallis eros non iaculis mollis. Morbi sit amet magna non dui fringilla volutpat. Pellentesque id justo placerat, vulputate tortor id, rhoncus sem. Proin et ex aliquet, sollicitudin enim et, consectetur tellus. Proin pretium, mi viverra viverra aliquet, dui ipsum venenatis mauris, id pellentesque est neque sit amet quam. Etiam vehicula molestie odio, sit amet ultricies augue elementum at. Ut sed luctus sapien, id viverra est. Duis nunc risus, tristique vel hendrerit ac, laoreet vitae ex. Nunc tempus dignissim magna sit amet mollis.

Proin vel eros non metus laoreet maximus at vitae nunc. Fusce quis aliquam quam, eu congue dolor. Aenean at quam et eros facilisis tincidunt in at metus. Phasellus et sem est. Pellentesque arcu quam, molestie sit amet gravida at, sodales ut massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sed ante vitae libero pulvinar efficitur vitae viverra odio. Duis interdum metus orci, ut iaculis turpis luctus nec. Etiam augue tortor, vestibulum quis blandit consequat, aliquet vel nibh. Morbi sem magna, consequat in magna id, commodo scelerisque nisl. Suspendisse elementum, nibh ut tincidunt molestie, tellus sem interdum metus, ac vehicula sapien nisi ac elit. Ut eu mi a massa vehicula tempor eu vitae lorem.
{% endblock %}